{% extends 'kempo/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-3 mb-3">
                <h1 class="text-center">Training Log</h1>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-8 offset-md-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Technique</th>
                            <th scope="col">Last Practiced</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list_of_techniques %}
                            <tr>
                                <td><a href="{% url 'single-technique' item.id %}">{{ item.title }}</a></td>
                                <td>{{ item.date_practiced }}</td>
                                <td>
                                    <a href="{% url 'update-technique' item.id %}" class="btn btn-sm btn-success">Practiced Today</a>
                                </td>
                            </tr>
                        {% endfor %}                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock content %}